smq-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2000;
  display: block;
}

smq-popup .window {
  padding: 10px 20px 20px;
  margin: 150px auto;
  width: 500px;
  min-height: 100px;
  background: rgba(255,255,255,1);
  border-radius: 10px;
}

smq-popup .close {
  margin: 0 10px 0 0;
  float: right;
  color: rgba(200,200,200,1);
  font-size: 20px;
  cursor: pointer;
  font-family: sans-serif;
}

smq-popup header.api-header h1 {
  font-size: 1.5rem;
}
